<%= title t "welcome.index.title" %>

<div class="crew">
  <span class="we">Мы</span>
  <ul class="people">
    <% @people = [ 
      { photo: "http://img.artlebedev.ru/;-)/mikhaylov2.jpg", name: "Илья Михайлов" }, 
      { photo: "http://img.artlebedev.ru/everything/illustrations/galushkov/thmb/auto.jpg", name: "Алексей Галушков" },
      { photo: "http://img.artlebedev.ru/;-)/voronezhsky.jpg", name: "Рома Воронежский" },
      { photo: "http://img.artlebedev.ru/;-)/burbaev.jpg", name: "Тимур Бурбаев" }
    ] %>

    <% @people.each do |person| %>
    <li>
      <figure>
        <%= image_tag "#{person[:photo]}", width: 100, height: 100 %>
        <figcaption><%= link_to "#{person[:name]}", "" %></figcaption>
      </figure>
    </li>
    <% end %>
  </ul>
  <ul class="links">
    <li class="caption">Подробнее о нас:</li>
    <li><%= link_to "люди", "" %></li>
    <li><%= link_to "организации", "" %></li>
    <li><%= link_to "мы сами", "" %></li>
  </ul>
</div>

<div class="columns">
  <section>
    <h1>Обслуживаем</h1>
    <ul>
      <li><%= link_to "Сети", "" %></li>
      <li><%= link_to "Компьютеры и ноутбуки (аутсорсинг)", "" %></li>
      <li><%= link_to "Портфолио по обслуживанию", "" %></li>
    </ul>
  </section>
  
  <section>
    <h1>Ремонтируем</h1>
    <ul>
      <li><%= link_to "Компьютеры", "" %></li>
      <li><%= link_to "Ноутбуки", "" %></li>
      <li><%= link_to "Сотовые телефоны", "" %></li>
      <li><%= link_to "Навигаторы", "" %></li>
      <li><%= link_to "Оргтехнику", "" %></li>
      <li>
        <span class="apple">Apple</span>
        <ul>
          <li><%= link_to "iPhone", "" %></li>
          <li><%= link_to "iPad", "" %></li>
          <li><%= link_to "MacBook", "" %></li>
          <li><%= link_to "iMac", "" %></li>
          <li><%= link_to "iPod", "" %></li>
        </ul>
      </li>
    </ul>
  </section>

  <section>
    <h1>Делаем сайты и приложения</h1>
    <ul>
      <li><%= link_to "Сайты", "" %></li>
      <li><%= link_to "Веб-приложения", "" %></li>
      <li><%= link_to "Продвижение и контекстная реклама", "" %></li>
      <li><%= link_to "Наши сайты и приложения" "" %></li>
    </ul>
  </section>

  <section>
    <h1>А также</h1>
    <ul>
      <li><%= link_to "Заправляем картриджи", "" %></li>
      <li><%= link_to "Оцифровываем видео", "" %></li>
      <li><%= link_to "Восстанавливаем данные", "" %></li>
    </ul>
  </section>
</div>
