<!DOCTYPE html>
<html>
<head>
  <title><%= yield :title %></title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

  <!--[if !IE 7]>
    <style type="text/css">
      .container {display:table;height:100%}
    </style>
  <![endif]-->
</head>
<body class="<%= params.values_at(:controller, :action).join(' ') %>">
  <div class="container">
    <header>
      <div class="logo">
        <%= link_to_unless_current image_tag("logo-km63-small.gif"), root_path %>
        <span class="city">Самара</span>
      </div>

      <div class="branches">
        <section>
          <hgroup>
            <h1>ул. Пушкина, 229</h1>
          </hgroup>
          <ul class="phones">
            <li>(846) 922-81-47</li>
            <li>+7 927 712-81-47</li>
          </ul>
        </section>

        <section>
          <hgroup>
            <h1>ул. Зои Космодемьянской, 21</h1>
          </hgroup>
          <ul class="phones">
            <li>(846) 922-70-47</li>
            <li>+7 927 712-70-47</li>
          </ul>
        </section>
      </div>

      <div class="recalls">
        <article>
          <hgroup>
            <h1><%= link_to "Светлана Кац", "" %></h1>
            <h2>Врач-рентгенолог</h2>
          </hgroup>
          <%= link_to image_tag("http://adammiribyan.com/assets/katz-acbe99e8c8e44793637e17b0e1156ba3.jpg" ), "" %>
          <%= simple_format "«Я очень давно сотрудничаю с компанией “Компьютерный Мир” и всегда довольна качеством оказываемых услуг»." %>
        </article>
        <%= link_to "Все отзывы", "" %> наших клиентов.
        <%= image_tag "vk_box_placeholder.png", style: "display: block; margin-top: 2.75em;" %>
      </div>
    </header>
    <%= yield %>
    <footer>
      <div class="column">
        &copy; 2012 <%= link_to_unless_current "Компьютерный Мир", root_path %> 
        <ul>
          <li><%= link_to "Контактная информация", "" %></li>
          <li><%= link_to "Наши друзья и партнеры", "" %></li>
        </ul>
      </div>
      <div class="column">
        В Самаре: ул. Пушкина, 229, офис 8.<br />
        В Интернете: <%= mail_to "spark@km63.ru" %>.
      </div>
      <div class="column right">
        <input type="search" placeholder="Поиск" />
      </div>
    </footer>
  </div>

</body>
</html>
